body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

form{
    max-width:400px;
}
#tags_area{
    display: inline-block;
}
.tags_item{
   
    display: inline-block;
    border:1.5px solid #777;
    border-radius: 10px;

    color:#777;
    font-weight: bold;

    padding:5px 10px;
    margin:2px;
    
    cursor: pointer;
}
.tags_form{
    border:1.5px solid #777;
    border-radius: 10px;
    padding:10px 10px;
    box-sizing: border-box;
    color: #777;
    outline: none;
    float:right;
}
